@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

html, body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}